#header {
    background-color: 'yellow';
    color: 'white';
    padding: '1rem';
    display: 'inline-block';
}

.containter {
    background-color: '#EEE';
    padding: '5%';
    font-family: '"Lucida Console", Monaco, monospace';
}
.green {
    color:green;
}
.red {
    color:red;
}
.black {
    color:black;
}
.errorMessage {
    font-weight: bold;
    color:red;
}
.show{
    display: block;
}
.hide{
    display: none;
}